config/jei/worldSettings.cfg
config/oauth.cfg
.DS_Store
buildOut/
.idea/
minecraftinstance.json
logs/2022-09-18-1.log.gz
mods/
logs/
options.txt
.mixin.out
asm
buildOut
coremods
crash-reports
discordsuite
downloads
journeymap
local
logs
mods
patchouli_books
resourcepacks
saves
screenshots
server-resource-packs
shaderpacks
texturepacks
.ReAuth.cfg
BotaniaVars.dat
crafttweaker.log
OpenComputersMod-1.7.5.192-lua52-native.64.dll
OpenComputersMod-1.7.5.192-lua53-native.64.dll
/patchouli_data.json
/.curseclient
/OpenComputersMod-1.8.0-snapshot-20220917-52-libjnlua52-windows-x86_64.dll
/OpenComputersMod-1.8.0-snapshot-20220917-53-libjnlua53-windows-x86_64.dll
/OpenComputersMod-1.8.0-snapshot-20220917-54-libjnlua54-windows-x86_64.dll
/usernamecache.json
/usercache.json
woot
TombManyGraves
